<h1>Genres</h1>
<% if @genres.any? %>
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name </th>
                <th scope="col">Show </th>
                <th scope="col">Edit </th>
                <th scope="col">Delete </th>
            </tr>
        </thead>

        <tbody>
            <% @genres.each do |genre| %>
                <tr>
                    <th scope="row"><%= genre.id %></th>
                    <td><%= genre.name %></td>
                    <td><%= link_to 'Show', genre %></td>
                    <td><%= link_to 'Edit', edit_genre_path(genre) %></td>
                    <td><%= link_to 'Destroy', genre, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
        <%= will_paginate @genres %>
    <% else %>
        <p>There are no genres!</p>
    <% end %>

    <br>

    <%= link_to 'New Genre', new_genre_path %>
