<p id="notice"><%= notice %></p>
<h2><%= @genre.name %> </h2>
<div id="movies-index">
   <% if @movies.exists? %>
        <div class="row">
            <%= render 'partials/movies', :movie => @movies %>
        </div>
    <% else %>
       <p>No movies in this genre yet.</p>
   <% end %>

<!-- render page links in the view -->
<%= will_paginate @movies %>
</div>
    <% if @user.super_admin? %>
<%= link_to 'Edit', edit_genre_path(@genre) %> |
<%= link_to 'Back', genres_path %>
<% end %>
