<h1><%= @genre.name %></h1>
<% if @movies.try(:any?) %>
  <div class="row">
    <% @movies.each do |movie| %>
      <div id="movie_<%= movie.id %>">
        <%= render 'partials/movie', movie: movie %>
      </div>
    <% end %>
    <!-- render page links in the view -->
  </div>
  <div class="row">
    <%= pagy_nav_compact_bootstrap(@pagy).html_safe %>
  </div>
<% else %>
  <article class="single-from-blog">
    <div class="blog-title">
      <h2>No movies available yet</h2>
    </div>
  </article>
<% end %>

<% if @user.super_admin? %>
  <div class="row">
    <%= link_to 'Edit', edit_genre_path(@genre) %>
    |
    <%= link_to 'Back', genres_path %>
  </div>
<% end %>
