<h1>Lists</h1>
<%= link_to 'New List', new_list_path %>
<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">User</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>

  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <th scope="row"><%= link_to list.name, list_path(list) %></th>
        <td><%= link_to list.user.name, user_path(list.user.id) %></td>
        <td><%= link_to 'Edit', edit_list_path(list) %></td>
        <td><%= link_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
    <%= pagy_nav_bootstrap(@pagy).html_safe %>
