<div id="movies-show">
    <h2><%= @movie.title %></h2>
    <div class="movies-show-left">
        <%= image_tag('http://image.tmdb.org/t/p/w300_and_h450_bestv2'+@movie.poster_path) %>
    </div>
    <div class="movies-show-right">
        <h3>Movie Info: </h3>
        <ul>
            <% unless @movie.tagline.blank? %>
                <li><strong>Tagline: </strong><%= @movie.tagline %></li>
            <% end %>
            <li><strong>Genres: </strong></li>
            <% @movie.categorizations.each do |categorization| %>
                <%= link_to categorization.genre.name, genre_path(categorization.genre) %>,
            <% end %>
            <% unless @movie.runtime.blank? %>
                <li><strong>Runtime: </strong><%= @movie.runtime %> mins</li>
            <% end %>
            <li><strong>Release Date: </strong><%= @movie.release_date.strftime('%Y-%m-%d') %></li>
            <% unless @movie.budget.blank? %>
                <li><strong>Budget: </strong><%= @movie.budget %></li>
            <% end %>
            <% unless @movie.revenue.blank? %>
                <li><strong>Revenue: </strong><%= @movie.revenue %></li>
            <% end %>
            <li><strong>Overview: </strong><%= @movie.overview %></li>
        </ul>
    </div>
</div>
<div class="clearfix"></div>
    <% if @user.super_admin? %>
    <h3>Admin Functions </h3>
    <%= link_to 'Edit', edit_movie_path(@movie), class: "btn btn-default btn-sm" %> |
    <%= link_to 'Delete', movie_path(@movie), method: :delete, class: "btn btn-danger btn-sm", data: { confirm: "Are you sure?" } %>
    <% end %>
</div>
