<div id="movies-show">
  <h2><%= @movie.title %></h2>
  <div class='row'>
    <% if @movie.poster_path.present? %>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <%= image_tag('https://image.tmdb.org/t/p/w500'+@movie.poster_path, alt: "#{@movie.title}", class:"card-img-top img-fluid") %>
      </div> <!-- end col-sm-6 -->
    <% end %>
    <div class="col-md-6 col-sm-6 col-xs-6">
      <div class="card-body-right">
        <%= render 'partials/movie_info', movie: @movie %>
        <li>
          <strong>My Lists:
          </strong>
        </li>
        <% @lists.each do |list| %>
          <%= render 'partials/add_to_list', list: list, movie: @movie %>
        <% end  %>
        <li>
          <strong>My Rating:
          </strong>
        </li>
        <div id="movie_<%= @movie.id %>">
          <%= render 'partials/review', movie: @movie, user_reviews: @user_reviews %>
        </div>
        </ul>
      </div>
      <!-- closes col-sm-6 -->
    </div>
    <!-- closes movies-show-right -->
  </div>
  <!-- closes row -->
  <div class="clearfix"></div>
  <% if @user.super_admin? %>
    <h3>Admin Functions
    </h3>
    <%= link_to 'Edit', edit_movie_path(@movie), class: "btn btn-default btn-sm" %>
    |
    <%= link_to 'Delete', movie_path(@movie), method: :delete, class: "btn btn-danger btn-sm", data: { confirm: "Are you sure?" } %>
  <% end %>
</div>
