<%= simple_form_for @contact, html: {class: 'contact-form', id: :contact_form} do |f| %>
    <div class='form-inputs'>
        <div class='form-group'>
            <% if user_signed_in? %>
                <%= f.text_field :name, value: current_user.name, class: 'form-control' %>
            <% else %>
                <%= f.text_field :name, placeholder: 'Name', required: true, class: 'form-control' %>
            <% end %>
        </div>
        <div class='form-group'>
            <% if user_signed_in? %>
                <%= f.email_field :email, value: current_user.email, class: 'form-control' %>
            <% else %>
                <%= f.email_field :email, placeholder: 'Email Address', required: true, class: 'form-control' %>
            <% end %>
        </div>
        <div class='form-group'>
            <%= f.text_area :message, placeholder: 'Questions or Comments', error: 'Please enter a question, comment, or concern', required: true, class: 'form-control' %>
        </div>
    </div><!-- closes form-inputs -->
    <%= f.button :button, class:'button button-default', 'data-text': 'SUBMIT' do %>
        <span>SUBMIT</span>
    <% end %>
<% end %>
