<% movie.each do |movie| %>
    <% if movie.poster_path.present? %>
        <div class="col">
            <div class="card">
                <%= link_to movie_path(movie) do %>
                    <%= image_tag('http://image.tmdb.org/t/p/w300_and_h450_bestv2/' + movie.poster_path) %>
                <% end %>
                <div class="rating">
                    <div class="row">
                        <p class="card-text">
                        <% if movie.has_review(current_user.id, movie.id) %>
                            Reviewed
                        <% else %>
                            <div class="col-xs-6 col-md-6">
                                <%= link_to movie_like_path(movie.id), class: 'tooltip-link', 'data-original-title': 'Like', 'data-toggle': 'tooltip', method: :get do %>
                                    <%= fa_icon "thumbs-up" %> <strong>Like</strong>
                                <% end  %>
                            </div>
                            <div class="col-xs-6 col-md-6">
                                <%= link_to movie_dislike_path(movie.id), class: 'tooltip-link', 'data-original-title': 'Like', 'data-toggle': 'tooltip', method: :get do %>
                                    <%= fa_icon "thumbs-down" %> <strong>Dislike</strong>
                                <% end  %>
                            </div>
                        <% end %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
<% end %>

