<% if current_user.reviewed?(movie) %>
  <%= render 'partials/rating', review: movie.movie_review(current_user.id, movie.id)%>
<% else %>
  <div class="col-xs-6 col-md-6" id="rating">
    <%= link_to movie_reviews_path(movie, rating: 5), class: 'tooltip-link', 'data-original-title': 'Like', 'data-toggle': 'tooltip', method: :post, remote: true do %>
    <%= fa_icon "thumbs-up" %>
    <strong>Like</strong>
  <% end  %>
</div>
<div class="col-xs-6 col-md-6" id="rating">
  <%= link_to movie_reviews_path(movie, rating: 1), class: 'tooltip-link', 'data-original-title': 'Like', 'data-toggle': 'tooltip', method: :post, remote: true do %>
  <%= fa_icon "thumbs-down" %>
  <strong>Dislike</strong>
<% end  %>
</div>
<% end %>
