<div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 600px;">
	<h4 class="card-title mt-3 text-center">Change Your Password</h4>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
    <%= f.label :password, "New password" %><br />
    <% if @minimum_password_length %>
      <p>(<%= @minimum_password_length %> characters minimum)</p><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password", required: true %>
  </div>

    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
    <%= f.label :password_confirmation, "Confirm new password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", required: true %>
  </div>
    <div class="form-group">
        <%= f.submit "Change My Password", class: 'btn btn-primary btn-block' %>
    </div> <!-- form-group// -->
    <p class="text-center">Have an account? <%= link_to 'Log In', signin_path %></p>
<% end %>
</article>
</div> <!-- card.// -->

<%= render "devise/shared/links" %>
