<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- Footer -->
<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-center text-md-center">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <h5>Quick links</h5>
                <ul class="list-unstyled quick-links">
                    <li><%= link_to movies_path, class: "ui-button-text button-text", title: "All Movies" do  %>
                        <i class="fa fa-angle-double-right"></i>Home
                    <% end %>
                    </li>
                    <li><%= link_to about_path, class: "ui-button-text button-text", title: "About" do  %>
                        <i class="fa fa-angle-double-right"></i>About
                    <% end %>
                    </li>
                    <li><%= link_to about_path + "#faq", class: "ui-button-text button-text", title: "Frequently Asked Questions" do  %>
                        <i class="fa fa-angle-double-right"></i>FAQ
                    <% end %>
                    </li>
                    <li><%= link_to about_path + "#get-started", class: "ui-button-text button-text", title: "Get Started" do  %>
                        <i class="fa fa-angle-double-right"></i>Get Started
                    <% end %>
                    </li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Videos</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <h5>Quick links</h5>
                <ul class="list-unstyled quick-links">
                    <% if user_signed_in? %>
                        <li>
                            <%= link_to current_user, class: "ui-button-text button-text", title: "My Profile" do  %>
                                <i class="fa fa-angle-double-right"></i>My Profile
                            <% end %>
                        </li>
                        <li>
                            <%= link_to destroy_user_session_path, class: "ui-button-text button-text", title: "Logout" do  %>
                                <i class="fa fa-angle-double-right"></i>Logout
                            <% end %>
                        </li>
                    <% else %>
                        <li>
                            <%= link_to signin_path, class: "ui-button-text button-text", title: "User Sign In" do  %>
                                <i class="fa fa-angle-double-right"></i>Sign In
                            <% end %>
                        </li>
                        <li>
                            <%= link_to signup_path, class: "ui-button-text button-text", title: "User Sign Up" do  %>
                                <i class="fa fa-angle-double-right"></i>Sign Up
                            <% end %>
                        </li>
                    <% end %>
                <li>
                    <%= link_to about_path + "#contact", class: "ui-button-text button-text", title: "Contact Us" do  %>
                        <i class="fa fa-angle-double-right"></i>Contact
                    <% end %>
                </li>
                <li>
                    <%= link_to help_path, class: "ui-button-text button-text", title: "Help" do  %>
                        <i class="fa fa-angle-double-right"></i>Help
                    <% end %>
                </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
                </ul>
            </div>
            </hr>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p>Please read our <u><%= link_to 'terms agreement', terms_path %></u> and <u><%= link_to 'privacy policy', privacy_path %></u></p>
                <p class="h6">&copy All right Reversed.<a class="text-green ml-2" href="https://www.sunlimetech.com" target="_blank">Sunlimetech</a></p>
            </div>
            </hr>
        </div>
    </div>
</section>
<!-- ./Footer -->
