<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- Footer -->
<section id="footer">
  <div class="container">
    <div class="row text-center text-xs-center text-sm-center text-md-center">
        <div class="col-sm-4">
          Proudly made for research by <a href="https://sunjaydhama.com/about.html" target="_blank">Sunjay Dhama</a>
          <br>
          <%= link_to 'About', about_path, class: "router-link-exact-active router-link-active", title: "About" %>
          <span class="delim">&nbsp;|&nbsp;</span>
          <%= link_to 'FAQ', about_path + "#faq", class: "ui-button-text button-text", title: "Frequently Asked Questions" %>
          <span class="delim">&nbsp;|&nbsp;</span>
          <%= link_to 'Contact', about_path + "#contact", class: "ui-button-text button-text", title: "Feedback" %>
          <span class="delim">&nbsp;|&nbsp;</span>
          <%= link_to 'Terms', terms_path, class: "ui-button-text button-text", title: "Terms" %>
          <span class="delim">&nbsp;|&nbsp;</span>
          <%= link_to 'Privacy' , privacy_path,class: "ui-button-text button-text", title: "Privacy" %>
      </div><!-- closes column -->
      <div class="col-sm-4 footer-social">
        <a href="javascript:void();"><%= fa_icon "facebook"%></a>
        <a href="javascript:void();"><%= fa_icon "twitter"%></a>
        <a href="javascript:void();"><%= fa_icon "instagram"%></a>
      </div>
      <div class="col-sm-4">
        Special thanks to <a href="https://developers.facebook.com/" target="_blank">Facebook</a> and <a href="https://www.themoviedb.org/" target="_blank">TMDb</a>
      </div>
        </div> <!-- closer row -->
      </div><!-- closes container -->
</section>
