<li class=" <%= params[:controller] == 'genres' ? 'nav-item active dropdown' : 'nav-item dropdown' %>">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Genres
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <%= link_to 'Action', genre_path(28), class: "dropdown-item" %>
        <%= link_to 'Adventure', genre_path(12), class: "dropdown-item" %>
        <%= link_to 'Animation', genre_path(16), class: "dropdown-item" %>
        <%= link_to 'Comedy', genre_path(35), class: "dropdown-item" %>
        <%= link_to 'Crime', genre_path(80), class: "dropdown-item" %>
        <%= link_to 'Documentary', genre_path(99), class: "dropdown-item" %>
        <%= link_to 'Drama', genre_path(18), class: "dropdown-item" %>
        <%= link_to 'Family', genre_path(10751), class: "dropdown-item" %>
        <%= link_to 'Fantasy', genre_path(14), class: "dropdown-item" %>
        <%= link_to 'History', genre_path(36), class: "dropdown-item" %>
        <%= link_to 'Horror', genre_path(27), class: "dropdown-item" %>
        <%= link_to 'Music', genre_path(10402), class: "dropdown-item" %>
        <%= link_to 'Mystery', genre_path(9648), class: "dropdown-item" %>
        <%= link_to 'Romance', genre_path(10749), class: "dropdown-item" %>
        <%= link_to 'Science Fiction', genre_path(878), class: "dropdown-item" %>
        <%= link_to 'TV Movie', genre_path(10770), class: "dropdown-item" %>
        <%= link_to 'Thriller', genre_path(53), class: "dropdown-item" %>
        <%= link_to 'War', genre_path(10752), class: "dropdown-item" %>
        <%= link_to 'Western', genre_path(37), class: "dropdown-item" %>
        <div class="dropdown-divider"></div>
    </div>
</li>
