<%= form_with(model: friendship, local: true) do |form| %>
  <% if friendship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(friendship.errors.count, "error") %> prohibited this friendship from being saved:</h2>

      <ul>
      <% friendship.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <li class="control-group">
        <%= form.label :user_id, "User ID", class: "control-label" %>
        <div class="controls"><%= form.number_field :user_id %></div>
    </li>
    <li class="control-group">
        <%= form.label :friend_id, "Friend ID", class: "control-label" %>
        <div class="controls"><%= form.number_field :friend_id %></div>
    </li>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
