<%= simple_form_for(@friendship, url: friendships_path, method: :post) do |f| %>
<%= f.error_notification %>
<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="form-inputs">
  <%= f.input :user_id, collection: @users, label_method: :name, value_method: :id, label: false, include_blank: true, error: 'User is mandatory, please specify one' unless @friendship.new_record? %>
  <%= f.input :friend_id, collection: @users, label_method: :name, value_method: :id, label: false, include_blank: true, error: 'Friend is mandatory, please specify one' %>
</div>

<div class="form-actions">
  <%= f.button :submit %>
</div>
<% end %>
