
<%= simple_form_for(@friendship) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :user_id, label: false, placeholder: 'User ID', error: 'User ID is mandatory, please specify one' %>
    <%= f.input :friend_id, label: false, placeholder: 'Friend ID', error: 'Friend ID is mandatory, please specify one' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
