<div class="row">
    <div class="col-sm-3">
        <ul class="nav nav-pills nav-stacked nav-email rounded shadow mb-20">
            <li class="active">
                  <%= link_to contacts_path, class: 'tooltip-link', 'data-original-title': 'Inbox', 'data-toggle': 'tooltip', method: :get do %>
                  <%= fa_icon "inbox" %>
                  <strong><span class="label pull-right">Inbox:  <%= @count %></span></strong>
                <% end  %>
            </li>
        </ul>
    </div>
    <div class="col-sm-9">
        <!-- Star form compose mail -->
        <form class="form-horizontal">
            <div class="panel mail-wrapper rounded shadow">
                <div class="panel-heading">
                    <div class="pull-left">
                        <h3 class="panel-title">View Mail</h3>
                    </div>
                    <div class="pull-right">
                        <div class="form-group no-margin no-padding has-feedback">
                            <input type="text" class="form-control" placeholder="Search mail">
                            <button type="submit" class="btn btn-theme fa fa-search form-control-feedback"></button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div><!-- /.panel-heading -->
                <div class="panel-sub-heading inner-all">
                    <div class="pull-left">
                        <h3 class="lead no-margin">Admin Theme</h3>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-info btn-sm tooltips" data-container="body" data-original-title="Print" type="button" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-print"></i> </button>
                        <button class="btn btn-danger btn-sm tooltips" data-container="body" data-original-title="Trash" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-trash-o"></i></button>
                        <a href="#mail-compose.html" class="btn btn-success btn-sm"><i class="fa fa-reply"></i> Reply</a>
                    </div>
                    <div class="clearfix"></div>
                </div><!-- /.panel-sub-heading -->
                <div class="panel-sub-heading inner-all">
                    <div class="row">
                        <div class="col-md-8 col-sm-8 col-xs-7">
                          <!-- <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="..." class="img-circle senden-img"> -->
                            <span><%= @contact.email %></span>
                            to
                            <strong>Sunjay</strong>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-5">
                            <p class="pull-right"><%= @contact.created_at.to_time.strftime('%B %e %H:%M' ) %></p>
                        </div>
                    </div>
                </div><!-- /.panel-sub-heading -->
                <div class="panel-body">
                    <div class="view-mail">
                      <%= @contact.message %>
                    </div><!-- /.view-mail -->
                </div><!-- /.panel-body -->
                <div class="panel-footer">
                    <div class="pull-right">
                        <a href="#mail-compose.html" class="btn btn-success btn-sm"><i class="fa fa-reply"></i> Reply</a>
                        <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-arrow-right"></i> Forward</button>
                        <button class="btn btn-info btn-sm tooltips" data-container="body" data-original-title="Print" type="button" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-print"></i> </button>
                        <button class="btn btn-danger btn-sm tooltips" data-container="body" data-original-title="Trash" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-trash-o"></i></button>
                    </div>
                    <div class="clearfix"></div>
                </div><!-- /.panel-footer -->
            </div><!-- /.panel -->
        </form>
        <!--/ End form compose mail -->
    </div>
