
<%= simple_form_for(@company) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">

  <%= f.input :name, placeholder: 'Company Name', error: 'Name is mandatory, please specify one' %>
  <%= f.input :description %>
  <%= f.input :headquarters, placeholder: 'Culver City, California, United States' %>
  <%= f.input :homepage, placeholder: 'https://www.sony.com' %>
  <%= f.input :logo_path, placeholder: '/GagSvqWlyPdkFHMfQ3pNq6ix9P.png' %>
  <%= f.input :origin_country, priority: [ "US" ], collection: [ "US", "GB", "NZ"] %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
