<!-- 'access_level' must be set to 1 or 2 to view this page -->
<h1>Educations</h1>
    <%= link_to 'New Education', new_education_path %>
<% if @educations.any? %>
  <h3>Number of Universities: <%= @number_of_educations %></h3>
  <br>
  <%= form_tag(search_educations_path, method: :get) do %>
    <%= text_field_tag(:education_name, params[:education_name]) %>
    <%= submit_tag ("Search") %>
  <% end %>
<br>
<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">City</th>
      <th scope="col">Address</th>
      <th scope="col">Zipcode</th>
      <th scope="col">Edit </th>
      <th scope="col">Delete </th>
    </tr>
  </thead>

  <tbody>
    <% @educations.each do |education| %>
      <tr>
        <th scope="row"><%= link_to education.name, education_path(education) %></th>
       <% if education.city_id.present? %>
         <td><%= link_to education.city.city_and_state, city_path(education.city) %></td>
      <% else %>
        <td></td>
      <% end %>
        <td><%= education.address %></td>
        <td><%= education.zipcode %></td>
        <td><%= link_to 'Edit', edit_education_path(education) %></td>
        <td><%= link_to 'Destroy', education, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
    <%= pagy_nav_bootstrap(@pagy).html_safe %>

    <% else %>
        <p>There are no universities!</p>
    <% end %>

    <br>
