<%= form_for([movie, review]) do |f| %>
<% if review.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(review.errors.count, "error") %>
      prohibited this review from being saved:</h2>

    <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<li class="control-group">
  <div class="controls">
    <%= f.select :rating, options_for_select([["Like",5], ["Dislike", 1]]), { prompt: "No Limit" } %>
  </div>
</li>
<%= f.submit %>
<% end %>
